<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'bs4/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'iconic/font/css/open-iconic-bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'bs4/js/bootstrap.min.js' %}"></script>
</head>
{% block script %}{% endblock %}
<body>
    <div>
        {% include 'navigation.html' %}
    </div>
    <div class="container">
        <div style="margin: 20px 0px 0px 0px">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
