{% extends 'layout/base.html' %}
기존 vote/layout.html을 extends하던 것에서 template/layout/base.html로 기본 베이스 변경

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-right">
            <button class="btn btn-outline-primary" type="button"
                    onclick="location.href='{% url 'vote:insert' %}'">추가</button>
        </div>
    {% endif %}
    {% include 'vote/table.html' with data=data %}
    <!-- 이전 또는 다음페이지 이동버튼이라던지.. 아니면 페이지 번호 링크라던지 생성에 대하여..-->

    처음 접근하여 1페이지를 띄운다고 하자.
    현재 context = {
        'data':paging.page(1)
    }
    방식으로 context가 넘어온 상황. 
    쉘창에서는 context['data'].has_next() 뭐 이렇게 써서 다음페이지가 존재하는지를 보았었다.
    이는 paging.page(1).has_next()를 쓴 것과 동일하다.
    <div>
        {% if data.has_previous() == false %}
            <button type="button" onclick=location.href="{% url 'vote:index' %}?page=pre" disabled>이전</button>
        {% else %}
            <button type="button" onclick=location.href="{% url 'vote:index' %}?page=pre">이전</button>
        {% endif %}
        현재 : {{ data.number }}
        {% if data.has_next == false %}
            <button type="button" onclick=location.href="{% url 'vote:index' %}?page=next" disabled>다음</button>
        {% else %}
            <button type="button" onclick=location.href="{% url 'vote:index' %}?page=next">다음</button>
        {% endif %}
    </div>
    오류뜨네
    괄호를 안넣으면 이게 제대로 작동을 안하고.. 1페이지 보고 있는데 이전 버튼이 활성화되어있었던가 무튼. 
    괄호 넣으면 그냥오류
    false를 False로 써야하나
    아니면 이러한 방식으로 할 수 없는건가
    뭔가 views에서 해줘야하나..흠



{% endblock %}