<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">myWeb</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'vote:index' %}">투표</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'board:index' %}">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Menu 1</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#"><span class="oi oi-person"></span> {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><span class="oi oi-account-logout"></span> Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'join' %}"><span class="oi oi-person"></span> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span class="oi oi-account-login"></span> Login</a>
            </li>
        {% endif %}
    </ul>
</nav>