로그인한 상황인지 아닌지 알고싶다면?
로그인을 했다면 로그인한 계정의 username이 나오고 로그인이 안된 상태라면 아무것도 안뜬다
로그인을 했다면 모든페이지에서 user에 대한 데이터가 돌아다니는거네
<div>{{ user.username }}</div>

<div>계정활성유무 : {{ user.is_active }}</div> 

<div>활성화된 계정을 가지고 인증처리까지 다 됐느냐 : {{ user.is_authenticated }}</div>



<div>
    {% if user.is_authenticated == True %}    <!-- 공백에 유의해야하며 'True'가 아닌 True값임 -->
       환영합니다. {{ user.username }}님
       <button type="button" onclick=location.href='{% url 'logout' %}'>로그아웃</button>
    {% else %}
        <button type="button" onclick=location.href='{% url 'join' %}'>회원가입</button>
        <button type="button" onclick=location.href="{% url 'login' %}">로그인</button>
    {% endif %}
</div>
onclick 을 쓸 때 가장 바깥쪽 따옴표는 위와 같이 없어도 되긴 함
다만 안에 name이나 namespace를 감싸는 따옴표는 필수임. 없애면 오류뜸
{% 를 감싸는 따옴표를 없애니 url 링크가 제대로 동작 안함
따라서 가장 바깥쪽 따옴표만 없애도 되고, 다른 것들은 꼭 해줘야 하는듯

로그아웃시 Redirect는 어떻게 하는거지
난 왜 로그아웃버튼 누르면 /account/logout/을 통해 loged_out.html로 연결되는게 아니라 다른 페이지로 연결이 되는거냐
url은 /account/logout/이 맞기는 한데 loged_out.html이 켜지는게 아닌데..?
아하 loged_out이 아니라 logged_out.html 이라고 써야 로그아웃시 저 html파일로 잘 연결이 되네
저 페이지를 찾지를 못해서 기본 로그아웃 완료페이지를 띄운 거였나봄

아 == True를 할 필요가 없네

링크에 대한 #은 임시표시. 이동 안함
namespace는 include함수에서, name은 일반적인 url패턴에서 사용

이 로그인과 로그아웃 버튼에 대해 모든 페이지에 띄우고 싶을 때 네비게이션 <nav></nav> 로 만들고 계층구조를 이용해서
다른 모든 페이지들에서는 include만 하면 될 듯. 다만 include할 때 어떤 사용자 로그인정보를 user=user 로 넘겨줘야하나
아니면 이 네비게이션을 다른 html로 분리시켜놓고 그걸 base.html에서 include시키면 다른 페이지들에서는 그냥 base.html만
extends하는 것으로서 네비게이션바 사용 가능..

<nav></nav> 네비게이션 만들 때 쓰는 태그
주로 메뉴바를 쓸 때 사용하는 태그이다. 기능과 구역분리용으로 그냥 쓰는 태그

궁금증 1. 모든 html페이지들로 user에 대한 데이터는 넘어가는 것인가  -> 그렇다. 자동으로 다 넘어온다.
    우리가 이 index.html을 실행시키기 위해 해당 함수에서 user에 대한 데이터는 넘겨준 적이 없다. 그래도 잘 된다.
    request에 담겨있는건가? 그런거 같음
궁금증 2. 위와 같이 네비게이션을 base.html에서 include시키고 이제 이 index.html에서 extends base.html한다고 했을 때
     user데이터는 넘겨주지 않아도 되는가 -> 그렇다
    왜인지는 잘 모르겠다. 우선 extends로 base.html코드가 그대로 복사된다고 했을 때... 네비게이션에 대해 include는 그대로인데,,
    왜 보내주지 않아도 되는거지? base.html에서 기본적으로 include nav.html with user=user 써놔야하는거 아닌가
    

