<!DOCTYPE html>

<html>

<head>
    <title></title>
</head>

<body>
    <form action="/htm/tag/delete/" method="POST">{% csrf_token %}
        <div>
            <input name='id' value="{{ data.id }}" type="hidden"> 수정못하도록, 그리고 사용자가 볼 필요가 없는 id값
        </div>
        <div>태그 이름 : {{ data.tag_name }}</div>
        <div>내용 : <br>
            <p>
            {{ data.tag_context }}
            </p>
        </div>
        <div>
            <button type="submit">삭제 확인</button>
        </div>
    </form>
</body>

</html>