index.html 템플릿파일
<br><br>
탬플릿 코드<br>
중괄호 두개씩 - 넘겨받은 데이터 중에서 특정 값을 선택해서 쓰는 경우 쓴다.
키 이름을 그대로 집어넣어서 쓴다. 그러면 밸류값이 나올 듯
{{key1}}, {{key2}}, {{key3}},{{key4}}

{{key3.0}}, {{key3.2}}, {{key4.b}}


중괄호 하나에 퍼센트 하나씩 - if문과 for문 또는 특수기능등을 쓰고자 하는 경우에 쓴다.(JSP에서 스크립틀릿과 비슷하네)
{% if key2 == 100 %}
    key2는 100이 맞다.
{% else %}
    key2는 100이 아니다.
{% endif %} 이 부분은 꼭 써줘야 한다고 하심. 끝을 알리는 부분을 표시하는 것인 것 같다. 아무래도 종속문장 묶어주는 기호가 없다보니까..
또는 파이썬 문법을 쓰고자 하는 시작점과 끝점을 따로 표시하는 게 아니다보니까 써야하는 듯. JSP에서는 <%%> 안에 다 들어가는데 반해..
이 외에 if만 써도 되고 elif를 써도 되고 등등 사용 방식은 다양함. 다만 끝에는 endif 꼭 들어가야 하는 것으로 보인다.
그러면 for문같은 것도 endfor 이런거 필요하려나

반복문은 for문밖에 사용불가능하다.
{%for x in key3%}
    {{x}}
    print(x) 이건 동작 안하네 그냥 문자 그대로 나옴
{%endfor%} 

{%for x in key4%}
    {{x}}
{%endfor%} 이건 키값만 나온다.

{%for x in key4.values%}
    {{x}}
{%endfor%} 밸류값 뽑아내는 .values 함수

{%for x in key4.items%}
    {{x}}
{%endfor%} 다 튜플로 반환하는 .items 함수

{%for x,y in key4.items%}
    {{x}}, {{y}}
{%endfor%} 언패킹도 이용

{%for x,y in key4%}
    {{x}}, {{y}}
{%endfor%} 이건 언패킹 안됨. 키값만 나온다.


