<!DOCTYPE html>
<html>
<head>
    <title>HTML Tag</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'bs4/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bs4/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div>
            <!--
                class : css를 적용 시키기 위한 속성
            -->
            <button class="btn btn-primary" type="button" onclick="location.href='/htm/tag/add/'">추가</button>
        </div>
        <form action="/htm/tag/" method="GET">
            <div class="form-row">
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="search">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">검색</button>
                </div>
            </div>
        </form>
        <ul>
            {% for tag in tag_list %}
                <li><a href='/htm/tag/{{ tag }}/'>{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
