{% extends 'layout/base.html' %}

{% block title %}로그인{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method='POST'>{% csrf_token %}
        <!-- 위와 같이 url 역순조회 쓰면 알아서 찾아서 url 로그인 주소로 연결됨. 장고 기본기능 -->
        <div class="form-group">
            <input class="form-control" type='text' name="username" placeholder="아이디">  <!-- username이라고 꼭 해줘야함. 테이블의 칼럼명과 동일하게-->
        </div>
        <div class="form-group">  <!-- div마다 조금씩 간격 떨어뜨리는 form group class -->
            <input class="form-control" type='password' name='password' placeholder="비밀번호">
        </div>
        <div class='text-right'>
            <button class="btn btn-online-primary" type="submit">로그인</button>
        </div>
    </form>
{% endblock %}

<!-- 이 상태에서 /account/login/ 접속시 이 페이지가 띄워진다.
     admin/admin1234 로 로그인 가능하다. 로그인 url로 연결되어 로그인처리가 다 되고 알아서 결과 페이지가 return된다.
    다만 Page not found 뜬다. 기본적으로 /accounts/profile/로 redirect시킨다.
해당 페이지가 없으니 에러가 뜸.. 기본 redirect 위치를 바꾸자. myweb의 settings에서 변경 가능하다.

순서
사용자가 /account/login/ 으로 접속하려 함. urls.py에서 url(r'^account/', include('django.contrib.auth.urls')) 패턴이 작동된다. 
해당 include가 작동하고 장고에서 알아서 template폴더의 registration에 있는 login.html 파일을 보낸다. 그게 이 페이지이다.
사용자가 값을 입력하고 로그인을 누르면, form action에 의해 'login' 이라는 url을 요구하는데 이건 /account/login/ 과 같겠지만 POST형식일거다.
또 url(r'^account/', include('django.contrib.auth.urls')) 가 작동하고 알아서 로그인을 다 시켜준다. 그리고 return redirect('/accounts/profile/')을 시키는데 저 url
패턴에 맞는 페이지를 만든적이 없으므로 기본 반환값을 return redirect('/')이 되도록 바꿔주면 로그인 성공시 메인페이지로 가게 된다.

-->